* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

.container-header {
    gap: 20px;
    width: 100vw;
    min-width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, #c53c24 10%, #412020);

}


.box-nav {
    width: 100vw;
    height: 150px;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.box-nav nav {}

.box-nav nav ul {
    padding: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 80px;

}

.box-nav nav ul li {
    padding: 5px;
    border-radius: 10px;
    padding: 5px;
    list-style: none;
}

.box-nav nav ul li a {

    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: black;

}


.box-nav nav ul li:hover {
    background-color: rgb(247, 195, 176);
    transform: rotate(15deg) translate(10px) scale(1.1);
    transition: 0.6s;
    box-shadow: 2px 2px 2px 5px;
    cursor: pointer;
}

.container-header div h1:hover {
    transform: translate(2);
    color: wheat;
    cursor: pointer;
    box-shadow: 2px 2px 2px 5px;
}

.box-nav button {
    font-size: 25px;
    border-radius: 10px;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background-color: wheat;

}

.box-nav button:hover {
    background: rgb(56, 243, 49);
    cursor: pointer;
    box-shadow: wheat 0px 1px 1px 2px;


}

.container-header-anuncio {

    padding: 0 20px 0 40px;
    border: solid 1px black;
    border-radius: 20px;
    background: linear-gradient(to bottom, #412020, #c53c24);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;



}

.box-descricao {
    font-size: 18px;
    min-width: 300px;
    max-width: 500px;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    
}

.container-principal{
    
    padding-bottom: 40px;
    width: 100vw;
    
    height: 400px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
  

}
.titulo-catalogo{
 
}
.busca{
    padding: 40px;
    border-radius: 10px;
    background-color: gray;

  
}
.busca input{
width: 50vw;
height: 50px;
border: none;
border-radius: 3px;
outline: none;
padding: 20px;
font-size: 1.5rem;

}
